<!DOCTYPE html>
<head>
    <title>Collectio</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><img src="images/logo-white.png" width="120"></li>
            <li style="font-weight: 600;"><a href="/features">Features</a></li>
            <li><a href="/about">About</a></li>
            <li style="float:right; font-weight:bolder;"><a href="/login" class="active"><i class="bi bi-person-circle"></i> Login</a></li>
        </ul>
    </div>

    <div class="logo">
        <img src="/images/logo-white.png">
        <h1>The new way of collecting.</h1>
    </div>

    <div class="function-boxes">
        <div class="box">
            <div class="icon">
                <i class="bi bi-collection-fill"></i>
            </div>
            <h2>ORGANIZE</h2>
            <p>Keep track of the items you own in dedicated collections</p>
        </div>
        <div class="box">
            <div class="icon">
                <i class="bi bi-activity"></i>
            </div>
            <h2>STATISTICS</h2>
            <p>Always see how many items you own, their total value and more!</p>
        </div>
        <div class="box">
            <div class="icon">
                <i class="bi bi-binoculars-fill"></i>
            </div>
            <h2>SEARCH</h2>
            <p>Easily find the item you are looking for gaining <br> all the info you need</p>
        </div>
        <div class="box">
            <div class="icon">
                <i class="bi bi-rocket-takeoff-fill"></i>
            </div>
            <h2>SELF-HOSTED</h2>
            <p>Full control over your data</p>
        </div>
    </div>
</body>
</html>