<h1>Register</h1>
<form action="/register" methodo="POST">
    <div>
        <label for="usr">Username</label>
        <input type="text" id="usr" name="usr" required>
    </div>
    <div>
        <label for="psw">Password</label>
        <input type="password" id="psw" name="psw" required>
    </div>
    <button type="submit">Register</button>
</form>
<p>Already have an account? </p><a href="/login">Login</a>